.to-top{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 30;
    @include flex( row, center, center );
    background: $primary-color;
    transform: translate3d(-120%, 0, 0);
    transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
    &:hover{
        background: darken( $primary-color, 3% );
    }
    &_actived{
        transform: translate3d(0, 0, 0);
    }
}