.stars{
    text-decoration: none;
    &_s{
        @include flex(row, center, flex-start);
    }
    &__name{
        margin: 0;
        margin-bottom: 5px;
        &_s{
            margin: 0;
            margin-right: 10px;
            color: $gray-color;
            max-width: auto;
            @include font-weight('normal');
        }
    }
    &__grid{
        @include flex(row, center, center);
        padding: 0;
        margin: 0;
        list-style: none;
        & .stars__item{
            cursor: pointer;
        }
    }
    &__wrapper{
        @include flex(row, center, center);
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__icon{
        width: 20px;
        height: 20px;
        &.selected{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
    }
    &__value{
        margin: 0;
        font-size: 20px;
        margin-left: 10px;
    }
    &__item{
        width: 15px;
        height: 15px;
        @include flex(row, center, center);
        & svg{
            & path{
                fill: $gray-color-lightest;
            }
        }
        &.selected{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
        &.hover{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
    }
    &__text{
        margin: 0;
        font-size: 12px;
        color: $dark-color;
        margin-left: 8px;
        padding-top: 3px;
    }
}