.quantity{
    @include flex( row, stretch, center );
    &__input{
        width: 30px;
        height: 30px;
        background: $white-color;
        border: 1px solid $gray-color-lightest;
        padding: 0;
        text-align: center;
        line-height: 1;
    }
    &__btn{
        font-size: 14px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        color: $dark-color;
    }
}