.popular-item{
    text-decoration: none;
    width: 20%;
    height: 90px;
    @include flex(row, center, center);
    box-shadow: 0 0 0 1px $gray-color-lightest;
    background: $white-color;
    will-change: transform;
    z-index: 1;
    &:hover{
        z-index: 2;

    }
}

.no-touchevents{
    & .popular-item{
        &:hover{
            box-shadow: 0 0 15px 0 rgba($black-color, .1);
        }
    }
}

.touchevents.pointerevents{
    & .popular-item{
        &:hover{
            box-shadow: 0 0 15px 0 rgba($black-color, .1);
        }
    }
}