.pagination{
    @include flex( row, center, flex-start );
    &__link{
        @include flex( row, center, center );
        width: 40px;
        height: 40px;
        font-size: 13px;
        line-height: 1.25;
        text-decoration: none;
        text-align: center;
        &_active{
            background: $gray-color-lightest;
        }
        &:hover{
            background: lighten( $gray-color-lightest, 5% );
        }
    }
    &__btn{
        @include flex( row, center, center );
        height: 40px;
        border: 1px solid $primary-color;
        padding: 0 15px;
        margin-left: 15px;
        font-size: 13px;
        & svg{
            margin-left: 7px;
        }
        // &:hover{
        //     background: $gray-color-lightest;
        // }
    }
}