.header{
    position: relative;
    &_s{
        z-index: 5;
    }
    &__top{
        border-bottom: 1px solid $gray-color-lightest;
        padding: 15px 0;
    }
    &__user-option{
        justify-content: flex-end;
    }
    &__middle{
        padding: 20px 0;
    }
    &__logo{
        display: block;
    }
    &__bottom{
        background: $primary-color-darker;
    }
    &__phones{
        @include flex(row, center, center);
        &-item{
            font-size: 15px;
            text-decoration: none;
            @include flex(row, center, flex-start);
            @include font-weight('medium');
            white-space: nowrap;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
            & svg{
                margin-right: 5px;
                position: relative;
                top: -1px;
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
    &__w-time{
        @include flex(column, flex-end, flex-start);
        position: relative;
        &-value{
            margin: 0;
            font-size: 13px;
            color: $gray-color;
        }
        &-btn{
            font-size: 15px;
            margin-top: 5px;
        }
    }
    &__options{
        @include flex(row, stretch, flex-start);
        margin-top: 20px;
    }
    &__search{
        flex: 1 1 auto;
        max-width: 100%;
        margin-right: 20px;
    }
    &__brands{
        border-bottom: 1px solid $gray-color-lightest;
    }
}