.btn{
    padding: 0 20px;
    height: 40px;
    line-height: 37px;
    background: $primary-color;
    color: $white-color;
    font-size: 15px;
    text-decoration: none;
    &:hover{
        background: darken( $primary-color, 3% );
        color: $white-color;
    }
    &:focus{
        background: darken( $primary-color, 3% );
        color: $white-color;
    }
    &:active{
        background: darken( $primary-color, 3% );
        color: $white-color;
    }
    &_default{
        background: $white-color;
        border: 1px solid $gray-color-lightest;
        color: $black-color;
        & svg{
            margin-left: 7px;
        }
        &:hover{
            background: $gray-color-lightest;
            color: $black-color;
        }
        &:focus{
            background: $gray-color-lightest;
            color: $black-color;
        }
        &:active{
            background: $gray-color-lightest;
            color: $black-color;
        }
    }
    &:disabled{
        cursor: not-allowed;
        pointer-events: none;
        opacity: .4;
    }
}