.form{
    &__input{
        width: 100%;
        height: 40px;
        border: 1px solid $gray-color-lightest;
        background: $white-color;
    }
    &__label{
        margin: 0;
        display: inline-block;
        font-size: 13px;
        margin-bottom: 8px;
        & span{
            color: $primary-color;
        }
        &_size-l{
            font-size: 16px;
        }
    }
    &__wrapper{
        @include flex( row, stretch, flex-start );
    }
    &__col{
        margin-right: 20px;
        width: calc( ( 100% - 40px ) / 3 );
        &:last-child{
            margin-right: 0;
        }
        &_size-l{
            width: 100%;
            flex: 1 1 auto;   
        }
        &_size-m{
            width: 50%;
            margin-right: 30px;
        }
    }
    &__container{
        position: relative;
        margin-bottom: 15px;
    }
    &__textarea{
        display: block;
        padding: 10px 15px;
    }
}