.m-home-slider{
    position: relative;
    &__item{
        position: relative;
        text-decoration: none;
    }
    &__label{
        top: 15px;
        left: 15px;
        &.new-label{
            background: $white-color;
            color: $gray-color-darker;
        }
    }
    &__pagination{
        left: 15px;
        bottom: 15px;
    }
    &__img{
        width: 100%;
    }
}