.letter{
    padding: 10px;
    @include flex(row, center, center);
    flex-shrink: 0;
    font-size: 13px;
    margin: 0;
    padding-top: 11px;
    text-transform: uppercase;
    line-height: 1;
    @include font-weight('medium');
    &_active{
        color: $primary-color;
    }
    &:hover{
        color: $primary-color;
    }
    &_s{
        margin-left: 20px;
    }
}

.complex-letter{
    padding: 10px;
    @include flex(row, center, center);
    font-size: 13px;
    margin: 0;
    padding-top: 11px;
    text-transform: uppercase;
    line-height: 1;
    @include font-weight('medium');
    &_active{
        color: $primary-color;
    }
    &:hover{
        color: $primary-color;
    }
}