.product-options{
    @include flex( row, center, flex-start );
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-color-lightest;
    &__item{
        margin-right: 50px;
        &:last-child{
            margin-right: 0;
        }
    }
}