.m-menu{
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc( 100vh - 56px );
    z-index: 30;
    transform: translate3d( -120%, 0, 0 );
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);
    will-change: transform;
    &_opened{
        transform: none;
    }
    &__close-btn{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        left: calc( 85% + 15px );
    }
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        background: $white-color;
        -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    }
    &__grid{
        padding-bottom: 80px;
        @include flex( column, stretch, flex-start );
    }
    &__link{
        height: 45px;
        @include flex( row, center, flex-start );
        font-size: 15px;
        padding: 0 15px;
        text-decoration: none;
        border-bottom: 1px solid $gray-color-lightest;
        & svg{
            display: none;
        }
        &:focus{
            color: $primary-color;
        }
        &:active{
            color: $primary-color;
        }
    }
}