.breadcrumbs{
    @include flex( row, center, flex-start );
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        margin-right: 5px;
        line-height: 1.25;
        &:last-child{
            margin-right: 0;
        }
        & svg{
            flex-shrink: 0;
        }
    }
    &__name{
        margin: 0;
        text-decoration: none;
        font-size: 12px;
        color: $gray-color-darker;
        &.link{
            &::after{
                transform: scale3d(0, 1, 1);
                background: $gray-color-darker;
            }
            &:hover{
                &::after{
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}