.product-size{
    @include flex( row, stretch, flex-start );
    flex-wrap: wrap;
    &__item{
        position: relative;
        @include flex( column, flex-start, center );
        height: 50px;
        margin-right: 15px;
        padding: 0 15px;
        box-shadow: 0 0 0 1px $gray-color-lightest;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            box-shadow: 0 0 0 2px $gray-color-lighter;
        }
        &_active{
            box-shadow: 0 0 0 2px $gray-color-lighter;
            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-top-color: $gray-color-lighter;
                top: 100%;
                left: 50%;
                margin-left: -6px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 3px solid transparent;
                border-top-color: $white-color;
                top: 100%;
                left: 50%;
                margin-left: -3px;
                z-index: 1;
            }
        }
    }
    &__name{
        margin: 0;
        font-size: 10px;
        color: $dark-color;
        line-height: 1.5;
        & span{
            font-size: 12px;
            display: block;
            @include font-weight( 'medium' );
        }
    }
}