.brands{
    &__grid{
        @include flex(row, center, flex-start);
        padding: 15px 0;
        position: relative;
    }
    &__letter-list{
        position: absolute;
        top: calc( 100% + 15px );
        left: 0;
        width: 100%;
        background: $white-color;
        box-shadow: 0 0 10px 0 rgba($black-color, .25);
        transform: translate3d(0, 15px, 0);
        z-index: -1;
        opacity: 0;
        transition: opacity .55s cubic-bezier(0.215, 0.610, 0.355, 1), transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
        &_opened{
            transform: translate3d(0, 0, 0);
            opacity: 1;
            z-index: 5;
        }
        &-wrapper{
            padding: 30px;
            @include flex( row, stretch, flex-start );
        }
        &-close-btn{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        &-col{
            width: 25%;
            @include flex( column, flex-start, flex-start );
        }
        &-link{
            font-size: 14px;
            margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &::after{
            transform: scale3d(0, 1, 1);
        }
        &:hover{
            color: $dark-color;
            &::after{
                transform: scale3d(1, 1, 1);
                background: $dark-color;
            }
        }
        }
    }
    &__link{
        margin-left: auto;
        font-size: 14px;
        color: $primary-color-darker;
        flex-shrink: 0;
        &::after{
            background: $primary-color-darker;
        }
    }
    &__title{
        margin: 0;
        font-size: 13px;
        text-transform: uppercase;
        color: $gray-color-darker;
        margin-right: 15px;
        flex-shrink: 0;
    }
    &__letters{
        @include flex(row, center, flex-start);
        padding-right: 10px;
        margin-right: 20px;
        position: relative;
        width: 100%;
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 20px;
            right: 0;
            top: 50%;
            margin-top: -10px;
            background: rgba($black-color, .1);
        }
        &-list{
            @include flex( row, center, flex-start );
            width: 100%;
            & .simplebar-content{
                @include flex( row, center, flex-start );
            }
        }
    }
}