.product-gallery{
    @include flex( row, stretch, flex-start );
    &__thumbs{
        @include flex( column, flex-start, space-between );
        width: 70px;
        flex-shrink: 0;
        margin-right: 30px;
    }
    &__thumb{
        @include flex( row, center, center );
        width: 70px;
        height: 70px;
        &-img{
            max-width: 70px;
            max-height: 70px;
            cursor: pointer;
            &_active{
                opacity: .5;
            }
        }
    }
    &__full{
        @include flex( row, center, center );
        width: calc( 100% - 100px );
        flex: 1 1 auto;
        position: relative;
    }
    &__pagination{
        display: none;
        width: 100%;
        left: 0;
        top: calc( 100% + 15px );
        & .swiper-pagination-bullet{
            background: $gray-color-lighter;
            &-active{
                background: $primary-color;
            }
        }
    }
}