.custom-checkbox {
    @include flex( row, center, flex-start );
    position: relative;
    cursor: pointer;
    &__name{
        margin: 0;
        font-size: 12px;
        line-height: 1;
        color: $gray-color-darker;
        border-bottom: 1px dashed $gray-color-darker;
        margin-left: 10px;
    }

    &_active {
        box-shadow: inset 0 0 2px 0 rgba($black-color, .5);
        background: $primary-color;
    }

    &__input {
        width: 30px;
        height: 15px;
        background: $gray-color;
        border-radius: 20px;
        cursor: pointer;
        &:checked{
            background: $primary-color;
            & + .custom-checkbox__circle {
                transform: translate3d(16px, 0, 0);
            }
        }
    }

    &__circle {
        position: absolute;
        margin: 0;
        width: 12px;
        height: 12px;
        border: 1px solid $light-color;
        top: 1.5px;
        left: 0;
        transform: translate3d(2px, 0, 0);
        transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
        background: $white-color;
        border-radius: 50%;
    }
}

.user-option {
    position: relative;

    &__note{
        display: none;
        margin: 0;
        font-size: 11px;
        color: $gray-color-darker;
        margin-top: 8px;
        max-width: 350px;
    }

    &__popup {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-bottom-color: $gray-color-lightest;
            bottom: 100%;
            right: 20%;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: $white-color;
            bottom: calc(100% - .5px);
            right: calc(20% + 1px);
            z-index: 1;
        }
    }

    &__grid {
        @include flex(row, center, flex-end);
    }

    &__name {
        margin: 0;
        font-size: 12px;
        position: relative;
        line-height: 1.1;
        cursor: pointer;
        color: $gray-color-darker;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed $gray-color-lighter;
            bottom: 0;
            left: 0;
        }

        &_active {
            color: $black-color;
            cursor: default;

            &::after {
                opacity: 0;
            }
        }
    }
}

.favorites {
    position: relative;
    @include flex(row, center, center);

    &_active {
        & svg {
            & path {
                fill: $primary-color;
            }
        }
    }

    &__count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-44%, -56%, 0);
        z-index: 1;
        margin: 0;
        font-size: 9px;
        color: $white-color;
        @include font-weight('bold');
    }
}

.basket {
    @include flex(row, stretch, flex-start);
    flex-shrink: 0;
    width: 180px;
    height: 50px;
    border: 1px solid $gray-color-lighter;
    background: linear-gradient(180deg, $white-color 0%, $light-color 100%);
    box-shadow: 0 2px 7px 0 rgba($gray-color-darker, .15);

    &__favorites {
        width: 50px;
        height: 100%;
        flex-shrink: 0;
        margin-left: auto;
        border-left: 1px solid $gray-color-lighter;
    }

    &__link {
        @include flex(row, center, center);
        font-size: 14px;
        @include font-weight('medium');
        text-decoration: none;

        &-icon {
            width: 26px;
            height: 28px;
            position: relative;
            margin-right: 15px;
        }

        &-count {
            @include flex(row, center, center);
            position: absolute;
            margin: 0;
            width: 20px;
            height: 20px;
            top: 4px;
            right: -8px;
            border-radius: 50%;
            border: 1.5px solid $primary-color;
            background: $light-color;
            font-size: 10px;
            @include font-weight('bold');
            line-height: 20px;
        }

        flex: 1 1 auto;
    }
}

.home-template {
    padding: 35px 0;
    padding-bottom: 100px;

    &__box {
        margin-bottom: 55px;
        position: relative;
        z-index: 1;
    }

    &__popular {
        margin-bottom: 55px;
    }
}

.section {
    position: relative;
    &__title {
        margin-bottom: 20px;
    }

    &__link {
        align-self: flex-start;

        &::after {
            transform: scale3d(0, 1, 1);
        }

        &:hover {
            color: $primary-color;

            &::after {
                transform: scale3d(1, 1, 1);
                background: $primary-color;
            }
        }

        &:focus {
            color: $primary-color;

            &::after {
                transform: scale3d(1, 1, 1);
                background: $primary-color;
            }
        }
    }
}

.box {
    &__col {
        position: relative;
        z-index: 1;

        &:hover {
            z-index: 2;
        }
    }
}

.sales {
    @include flex(column, stretch, flex-start);
    height: 100%;

    &__col {
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__grid {
        flex: 1 1 auto;

        & .row {
            height: 100%;
        }
    }
}

.new {
    @include flex(column, stretch, flex-start);
    height: 100%;

    &__grid {
        @include flex(row, stretch, flex-start);
        flex: 1 1 auto;

        &>.row {
            width: 100%;
        }
    }
}

.row {
    &_s {
        height: 100%;
    }
}

.popular {
    &__grid {
        @include flex(row, stretch, flex-start);
        flex-wrap: wrap;
    }

    &__col {
        &:nth-child(5n) {
            margin-right: 0;
        }
    }

    &__btn {
        @include flex(column, center, center);

        & span {
            color: $dark-color;
            font-size: 14px;
            text-transform: lowercase;
            margin-top: 5px;
            border-bottom: 1px dashed $gray-color-lighter;
        }

        &:hover {
            & svg {
                & path {
                    fill: $primary-color;
                }
            }

            & span {
                color: $primary-color;
                border-bottom-color: $primary-color;
            }
        }
    }
}

.seo {
    &__img {
        display: block;
        margin: 0 auto;
    }

    &__text {
        & p {
            margin: 0;
            font-size: 13px;
            margin-top: 25px;
            color: $dark-color;
            line-height: 1.42;
        }
    }
}

.payment-icons {
    &__title{
        display: none;
        margin: 0;
        font-size: 14px;
        color: $gray-color;
        line-height: 1.25;
        margin-bottom: 5px;
    }
    @include flex(row, center, flex-end);

    & svg {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}

input {
    &.error {
        border-color: $primary-color;
    }
}

.error-label {
    margin: 0;
    position: absolute;
    top: calc(100% + 2px);
    font-size: 11px;
    color: $primary-color;
    left: 0;
    display: inline-block;
}

.template {
    padding: 15px 0;
    padding-bottom: 100px;

    &__breadcrumbs {
        margin-bottom: 15px;
    }

    &__title {
        line-height: 1.25;
    }

    &__desc {
        margin-top: 10px;

        & p {
            margin: 0;
            font-size: 12px;
            color: $gray-color;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.catalog-template {
    &__form {
        margin-top: 20px;
        @include flex(row, stretch, flex-start);
    }

    &__sort {
        margin-right: 10px;
    }

    &__list {
        padding: 20px 0;
        padding-bottom: 0;
    }

    &__pagination {
        margin-top: 30px;
    }

    &__about {
        margin-top: 60px;
    }

    &__popular {
        margin-top: 100px;
    }

    &__testimonials {
        margin-top: 60px;
    }
}

.about-brand {
    &__logo {
        @include flex(row, center, center);
        width: 100%;
        height: 100%;
        max-height: 270px;
        border: 1px solid $gray-color-lightest;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__desc {
        & p {
            margin: 0;
            font-size: 14px;
            color: $dark-color;
            margin-bottom: 20px;
            line-height: 1.42;

            &:last-child {
                margin-bottom: 0;
            }

            & a {
                text-decoration: none;
                color: $primary-color;
                position: relative;
                line-height: 1.2;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $primary-color;
                    transform: scale3d(1, 1, 1);
                    transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
                }

                &:hover {
                    &::after {
                        transform: scale3d(0, 1, 1);
                    }
                }
            }
        }

        & a {
            text-decoration: none;
            color: $primary-color;
            position: relative;
            line-height: 1.2;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: $primary-color;
                transform: scale3d(1, 1, 1);
                transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
            }

            &:hover {
                &::after {
                    transform: scale3d(0, 1, 1);
                }
            }
        }
    }
}

.testimonials {
    position: relative;

    &__title {
        margin-bottom: 30px;
    }

    &__link {
        vertical-align: middle;
        font-size: 13px;
    }

    &__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__grid {
        margin-bottom: 60px;
    }

    &__form {
        position: absolute;
        top: calc(100% + 30px);
        left: 0;
        width: 100%;
        background: $dark-color-lightest;
        padding: 30px 0;
        z-index: -1;
        opacity: 0;
        transform: translate3d(0, 15px, 0);
        transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1), opacity .55s cubic-bezier(0.215, 0.610, 0.355, 1);

        &_opened {
            z-index: 3;
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        &-stars {
            margin-left: 10px;
            position: relative;
            top: -2px;
        }

        &-btn {
            margin-left: auto;
            font-size: 13px;
            border-radius: 2px;
        }

        &-bottom {
            margin-top: 15px;
            font-size: 13px;
            @include flex(row, center, flex-start);
        }

        &-title{
            margin: 0;
            margin-bottom: 30px;
        }

        &-textarea {
            height: 120px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 1000px;
            height: 100%;
            background: $dark-color-lightest;
            top: 0;
            left: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            width: 1000px;
            height: 100%;
            background: $dark-color-lightest;
            top: 0;
            right: 100%;
        }

    }

    &__add {
        &-btn {
            vertical-align: middle;
            margin-left: 30px;
            border-radius: 2px;
            font-size: 13px;
        }
    }
}

.product-template {
    overflow: hidden;

    &__breadcrumbs {
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__note {
        margin-top: 65px;
        @include flex(row, center, flex-start);
        color: $dark-color;

        &-link {
            @include flex(row, center, flex-start);
            margin: 0;
            font-size: 12px;
            padding-right: 25px;
            border-right: 1px solid $gray-color-lightest;

            & img {
                max-width: 30px;
                max-height: 30px;
                margin-right: 15px;
            }

            & a {
                text-decoration: none;
                color: $dark-color;

                &::after {
                    background: $dark-color;
                    transform: scale3d(0, 1, 1);
                }

                &:hover {
                    &::after {
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }

        &-country {
            padding-left: 25px;
            margin: 0;
            font-size: 12px;
            color: $gray-color;

            & span {
                color: $dark-color;
            }
        }
    }

    &__stars {
        @include flex(row, center, flex-start);
    }

    &__favorite {
        @include flex(row, center, flex-start);

        & svg {
            margin-right: 10px;
        }

        &-name {
            font-size: 12px;
            color: $dark-color;
            padding-top: 3px;
        }

        &_active {
            & svg {
                & path {
                    fill: $primary-color;
                }
            }
        }
    }

    &__share {
        @include flex(row, center, flex-start);

        & svg {
            margin-right: 10px;
        }

        &-name {
            font-size: 12px;
            color: $dark-color;
            padding-top: 3px;
        }
    }

    &__options {
        margin-bottom: 30px;
    }

    &__price {
        margin-top: 30px;
    }

    &__submit {
        @include flex( row, center, flex-start );
        margin-top: 40px;

        &-form {
            @include flex(row, stretch, flex-start);
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
            &_hidden{
                display: none;
            }
        }

        &-btn {
            @include flex(row, center, flex-start);
            line-height: 1;
            font-size: 14px;
            height: 50px;
            padding: 0 30px;
            @include font-weight('medium');
            color: $white-color;
            border-radius: 3px;
            line-height: 1.23;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            & svg {
                margin-left: 10px;
            }

            & span {
                display: block;
            }

            &_s {
                display: block;
                color: $dark-color;
                background: $gray-color-lightest;

                & span {
                    color: $gray-color-darker;
                    font-size: 10px;
                    text-align: left;
                }

                &:hover {
                    background: darken($gray-color-lightest, 3%);
                    color: $dark-color;

                    & span {
                        color: $gray-color-darker;
                    }
                }

                &:focus {
                    background: darken($gray-color-lightest, 3%);
                    color: $dark-color;

                    & span {
                        color: $gray-color-darker;
                    }
                }

                &:active {
                    background: darken($gray-color-lightest, 3%);
                    color: $dark-color;

                    & span {
                        color: $gray-color-darker;
                    }
                }
            }
        }
    }

    &__to-basket-link{
        @include flex( column, center, center );
        font-size: 13px;
        @include font-weight( 'medium' );
        line-height: 1.1;
        height: 50px;
        background: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
        &_hidden{
            display: none;
        }
        & span{
            font-size: 10px;
        }
    }

    &__bottom {
        margin-top: 50px;
        padding-bottom: 100px;
    }

    &__similar {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__testimonials {
        margin-bottom: 60px;
    }
}

.quick-order {
    position: relative;

    &__btn {
        @include flex(row, center, flex-start);
    }

    & svg {
        margin-right: 10px;
    }

    &__name {
        margin: 0;
        font-size: 12px;
        color: $primary-color;
        padding-top: 2px;
    }

    &__popup {
        position: absolute;
        top: calc(100% + 15px);
        right: 0;
    }
}

.product-price {
    @include flex(row, center, flex-start);

    &__value {
        @include flex(row, center, flex-start);
        margin: 0;
        font-size: 25px;
        position: relative;

        &>span {
            font-size: 10px;
            color: $gray-color-darker;
            margin-left: 15px;
            line-height: 1.2;
            &:last-child{
                margin-left: 0;
            }

            &>span {
                display: block;
                font-size: 13px;
                @include font-weight('light');
                text-decoration: line-through;
            }
        }
    }

    &__option {
        @include flex(row, center, flex-start);
        margin-left: 25px;
        font-size: 10px;
        @include font-weight('medium');

        & svg {
            position: relative;
            top: -3px;
            margin-left: 15px;
            margin-right: 8px;
        }
    }

    &__lower {
        margin-left: 50px;
        position: relative;

        &-btn {
            font-size: 13px;
        }

        &-popup {
            position: absolute;
            top: calc(100% + 15px);
            right: 0;
        }
    }
}

.product-desc {
    @include flex(column, flex-start, flex-start);

    &__item {
        @include flex(row, center, flex-start);
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        & p {
            margin: 0;
            font-size: 14px;
            color: $dark-color;

            & a {
                font-size: 14px;
                color: $dark-color;

                &::after {
                    background: $dark-color;
                }
            }

            &:first-child {
                @include font-weight('medium');
                padding-right: 5px;
            }
        }
    }
}

.add-comment {
    font-size: 13px;
}

.basket-template {
    padding-top: 20px;

    &__title {
        margin-bottom: 30px;
    }

    &__grid{
        padding-right: 30px;
    }

    &__form {
        &-container {
            margin-bottom: 20px;
        }

        &-add-comment {
            margin-top: 10px;
        }

        &-comment {
            display: none;
            margin-top: 15px;

            &_opened {
                display: block;
            }
        }

        &-textarea {
            height: 120px;
        }

        &-btn {
            margin-top: 30px;
            width: 100%;
            border-radius: 3px;
            font-size: 15px;
            height: 50px;
            @include font-weight('medium');
        }
    }

    &__delivery {
        margin-top: 60px;

        &-title {
            line-height: 1.25;
            margin-bottom: 20px;
        }

        &-text {
            margin-bottom: 40px;

            & p {
                margin: 0;
                margin-bottom: 15px;
                color: $dark-color;
                font-size: 13px;

                & b {
                    @include font-weight('medium');
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            & ul, ol {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                & li {
                    font-size: 12px;
                    color: $dark-color;
                    position: relative;
                    line-height: 1.4;
                    padding-left: 12px;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 1px;
                        background: $dark-color;
                        top: 7px;
                        left: 0;
                    }

                    & a {
                        position: relative;
                        text-decoration: none;
                        color: $dark-color;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: $dark-color;
                            transform: scale3d(1, 1, 1);
                            transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
                        }

                        &:hover {
                            &::after {
                                transform: scale3d(0, 1, 1);
                            }
                        }
                    }
                }
            }
        }

        &-choice {
            margin-bottom: 20px;
        }
    }
}

.delivery-choice {
    @include flex(row, stretch, flex-start);

    &__item {
        width: 33.3333%;
        position: relative;
        cursor: pointer;

        &-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            opacity: 0;

            &:checked+.delivery-choice__item-name {
                background: lighten($dark-color-lightest, 5%);
                box-shadow: 0 0 0 2px darken($gray-color-lighter, 5%);
                z-index: 3;
            }
        }

        &-name {
            @include flex(column, center, center);
            margin: 0;
            height: 70px;
            background: $dark-color-lightest;
            font-size: 14px;
            @include font-weight('medium');
            color: $dark-color;
            line-height: 1.25;
            box-shadow: 0 0 0 1px $gray-color-lighter;
            position: relative;
            z-index: 1;

            & span {
                display: block;
                font-size: 11px;
                @include font-weight('normal');
            }
        }
    }
}

.order{
    background: $white-color;
    padding: 30px;
    box-shadow: 0 0 15px 0 rgba($black-color, .1);
    border: 1px solid $gray-color-lightest;
    &__title{
        margin-bottom: 20px;
    }
    &__list{
        padding-bottom: 30px;
        border-bottom: 1px solid $gray-color-lightest;
    }
    &__item{
        @include flex( row, center, flex-start );
        margin-bottom: 30px;
        &-img{
            display: block;
            margin-right: 15px;
            text-decoration: none;
            flex-shrink: 0;
            & img{
                max-width: 60px;
                max-height: 60px;
            }
        }
        &-name{
            text-decoration: none;
            font-size: 11px;
            color: $dark-color;
            flex-shrink: 0;
            width: 165px;
            line-height: 1.3;
        }
        &-option{
            margin-left: 20px;
        }
        &-options{
            @include flex( row, center, center );
            margin-right: 20px;
            flex-shrink: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &-quantity{
            flex-shrink: 0;
        }
        &-price{
            flex-basis: 155px;
            margin-left: auto;
            @include flex( row, center, flex-end );
            flex-wrap: wrap;
            & span{
                & b{
                    @include font-weight( 'medium' );
                }
            }
            &-old{
                font-size: 14px;
                color: $gray-color-darker;
                text-decoration: line-through;
            }
            &-sale{
                width: 100%;
                font-size: 10px;
                color: $gray-color-darker;
                text-align: right;
                margin-top: 3px;
            }
            &-value{
                font-size: 14px;
                color: $black-color;
                @include font-weight( 'medium' );
                padding-left: 10px;
                margin-left: 8px;
                border-left: 1px solid $gray-color-lightest;
            }
        }
    }
    &__footer{
        padding-top: 30px;
        @include flex( row, center, flex-start );
        &-text{
            margin: 0;
            & b{
                @include font-weight( 'medium' );
            }
        }
    }
    &__total{
        &-price{
            margin-left: auto;
        }
    }
}

.faq-template{
    overflow: hidden;
    &__header{
        margin-bottom: 30px;
        position: relative;
        &-btn{
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -20px;
        }
    }
    &__form{
        padding: 30px;
        padding-right: 0;
        background: $dark-color-lightest;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 1000px;
            height: 100%;
            top: 0;
            left: 100%;
            background: $dark-color-lightest;
        }
        &-title{
            margin-bottom: 20px;
        }
        &-textarea{
            height: 115px;
        }
        &-btn{
            margin-top: 5px;
            border-radius: 3px;
            font-size: 13px;
        }
        &-submit{
            @include flex( row, center, flex-end );
        }
    }
}

.filter-template{
    &__header{
        margin-bottom: 25px;
    }
    &__form{
        padding: 30px;
        background: $dark-color-lightest;
        &-submit{
            @include flex( row, center, flex-end );
            margin-top: 70px;
        }
        &-btn{
            font-size: 13px;
            border-radius: 3px;
        }
    }
}

.filter-form{
    &__title{
        margin: 0;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    &__grid{
        max-height: 370px;
        @include flex( column, flex-start, flex-start );
        &_s{
            max-height: 300px;
        }
        & .simplebar-content{
            @include flex( column, stretch, flex-start );
        }
    }
    &__checkbox{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__autocomplete{
        border-color: $gray-color-lighter;
        margin-bottom: 28px;
    }
}

// .custom-scrollbar{
//     overflow-x: hidden;
// }

.simplebar-track.simplebar-vertical{
    width: 2px;
    background: $gray-color-lighter;
}

.simplebar-track.simplebar-horizontal{
    height: 2px;
    background: $gray-color-lighter;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar{
    right: 0;
    width: 2px;
    background: $primary-color;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
    top: 0;
    height: 2px;
    background: $primary-color;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    content: none;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{
    content: none;
}

.success-template{
    overflow: hidden;
    padding-top: 30px;
    &__title{
        @include flex( row, center, flex-start );
        margin-bottom: 30px;
        & svg{
            margin-left: 20px;
        }
    }
    &__content{
        padding-bottom: 30px;
        & p{
            margin: 0;
            font-size: 18px;
            color: $gray-color;
            line-height: 1.35;
        }
    }
    &__social{
        border-top: 1px solid $gray-color-lightest;
        @include flex( row, center, flex-start );
        padding-top: 30px;
        &-name{
            margin: 0;
            font-size: 15px;
            color: $gray-color;
        }
        &-item{
            width: 30px;
            height: 30px;
            border: 1px solid $gray-color;
            border-radius: 50%;
            @include flex( row, center, center );
            margin-left: 15px;
            &:hover{
                border-color: $primary-color;
                & svg{
                    & path{
                        fill: $primary-color;
                    }
                }
            }
        }
    }
    &__text{
        padding: 30px;
        padding-right: 0;
        background: $dark-color-lightest;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 1000px;
            height: 100%;
            top: 0;
            left: 100%;
            background: $dark-color-lightest;
        }
    }
}

.text{
    h2{
        margin: 0;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    & p{
        margin: 0;
        font-size: 13px;
        color: $dark-color;
        line-height: 1.35;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    & ul{
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        & li{
            font-size: 13px;
            padding-left: 10px;
        color: $dark-color;
        line-height: 1.35;
        margin-bottom: 3px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 5px;
            height: 1px;
            background: $dark-color;
            top: 7px;
            left: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        }
    }
}

.no-page-template{
    padding: 50px 0;
    & svg{
        width: 100%;
    }
    &__title{
        @include font-weight( 'normal' );
        & span{
            display: block;
            font-size: 95px;
            margin-top: 20px;
            color: $primary-color;
            @include font-weight( 'bold' );
        }
    }
    &__text{
        margin: 0;
        font-size: 15px;
        color: $dark-color;
        line-height: 1.4;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.empty-template{
    padding: 60px 0;
    &__title{
        @include font-weight( 'normal' );
        margin-bottom: 10px;
    }
    &__text{
        margin: 0;
        font-size: 15px;
        color: $dark-color;
        line-height: 1.4;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

button[class*="close-btn"]{
    &:hover{
        & svg{
            & path{
                fill: $primary-color;
            }
        }
    }
}

.swiper-pagination{
    &-bullet{
        margin-right: 7px;
        opacity: 1;
        background: $white-color;
        &:last-child{
            margin-right: 0;
        }
        &-active{
            background: $primary-color;
        }
    }
}

.is-locked{
    overflow: hidden;
    & body{
        overflow: hidden;
        position: fixed;
    }
    & .m-header{
        &__phone-btn{
            display: none;
        }
        &__search-btn{
            display: none;
        }
        &__menu-btn{
            transform: rotate3d(0,0,1,-90deg);
        }
    }
}

.swiper-wrapper{
    align-items: stretch;
}

.swiper-slide{
    height: auto;
}