@media screen and (max-width: 1229px) {
    .footer {
        &__address {
            & a {
                &::after {
                    content: none;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding-top: 56px;

        &__search {
            margin: 0;
        }

        &__phones {
            @include flex(column, flex-start, flex-start);
            margin-top: 15px;

            &-item {
                margin: 0;
                margin-bottom: 8px;
            }
        }

        &__w-time {
            align-items: flex-start;
            margin-top: 5px;
        }

        &__middle {
            padding: 0;

            // overflow: hidden;
            & .row {
                &>div:nth-child(2) {
                    display: none;
                }

                &>div:nth-child(3) {
                    display: none;
                }

                &>.col-12 {
                    &:last-child {
                        display: none;
                        // overflow: hidden;
                    }
                }
            }
        }

        &__options {
            @include flex( column, stretch, flex-start );
            margin: 0;
            padding: 15px 0;
            padding-bottom: 6px;
            position: relative;
        }
    }

    .search {
        &__form {
            height: 40px;
        }

        &__input {
            max-width: 100%;
            line-height: 1.375;
        }

        &__btn {
            width: 40px;
        }
    }

    .footer {
        &__top {
            padding-bottom: 0;
            border-bottom: none;
        }

        &__phones {
            margin-bottom: 30px;
        }

        &__bottom {
            padding: 30px 0;
            padding-bottom: 15px;
        }

        &__address {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba($white-color, .1);
        }

        &__newsletter {
            margin-bottom: 30px;
        }

        &__copyright {
            @include flex(column, flex-start, flex-start);
            margin-top: 0;

            & p {
                margin-left: 0;
                padding-left: 0;
                margin-top: 3px;

                &::before {
                    content: none;
                }
            }
        }

        &-menu {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba($white-color, .1);
        }
    }

    .home {
        & .header {
            &__middle {
                & .row {
                    &>.col-12 {
                        &:last-child {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .payment-icons {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid rgba($white-color, .1);

        &__title {
            width: 100%;
            display: block;
        }
    }

    .social {
        &__name {
            font-size: 14px;
        }
    }

    .newsletter {
        &__title {
            font-size: 14px;
            margin-bottom: 15px;
        }

        &__input {
            line-height: 1.375;
        }
    }

    .title {
        font-size: 20px;
    }

    .section {
        &__title {
            font-size: 24px;
        }
    }

    .seo {
        &__info {
            margin-top: 15px;

            & p {
                margin-top: 15px;
            }
        }

        &__show-more {
            margin-top: 10px;
        }
    }

    .home-template {
        padding: 0;
        padding-bottom: 60px;
        overflow: hidden;
    }

    .sales {
        display: block;
        position: relative;
        margin-top: 30px;

        &__grid {
            flex: none;
        }

        &__col {
            max-width: 70%;
            padding: 1px 0;
        }
    }

    .user-option {
        &__popup {
            display: none;
        }

        &__grid {
            @include flex(column, flex-start, flex-start);
            padding: 15px;
        }

        &__note {
            display: block;
        }
    }

    .popular {
        &-item {
            width: 33.333%;
            height: 75px;

            & svg {
                max-width: 110px;
                max-height: 30px;
            }
        }

        &__btn {
            width: 33.333%;

            & svg {
                max-width: 12px;
                max-height: 12px;
            }
        }
    }

    .about-brand {
        &__logo {
            height: 200px;
            margin-bottom: 15px;
        }
    }

    .catalog-template {
        overflow: hidden;

        &__about {
            margin-top: 50px;
        }

        &__sort {
            display: none;
        }

        &__form {
            display: block;
            flex: none;
        }

        &__breadcrumbs {
            display: none;
        }
    }

    .filter {
        flex: none;
        display: block;

        &__carousel {
            overflow: visible;

            &-item {
                width: auto;
            }
        }
    }

    .filter-item {
        &__name {
            white-space: nowrap;
        }

        &_visible {
            &-mobile {
                display: block;
            }
        }
    }

    .item {
        &__img {
            & img {
                max-width: 150px;
                max-height: 150px;
            }
        }

        &_size {
            &-big {
                & .item {
                    &__img {
                        & img {
                            max-width: 175px;
                            max-height: 175px;
                        }
                    }
                }
            }
        }
    }

    .product-gallery {
        margin-bottom: 45px;

        &__full {
            width: 100%;
            flex: none;

            &-img {
                max-width: 200px;
                max-height: 200px;
                margin: 0 auto;
            }
        }

        &__thumbs {
            display: none;
        }

        &__pagination {
            @include flex(row, center, center);
        }
    }

    .product-options {
        padding-bottom: 10px;

        &__item {
            width: 25px;
            height: 25px;
            @include flex(row, center, center);
            margin: 0;
        }
    }

    .product-template {
        &__note {
            display: none;
        }

        &__breadcrumbs {
            display: none;
        }

        &__stars {
            width: auto;
            height: auto;
        }

        &__bottom {
            padding-bottom: 0;
        }

        &__testimonials {
            margin-top: 30px;
        }

        &__submit {
            @include flex(column, stretch, flex-start);

            &-form {
                @include flex(column, stretch, flex-start);
                margin: 0;
                margin-bottom: 15px;
            }

            &-btn {
                margin: 0;
                justify-content: center;

                & svg {
                    position: relative;
                    top: -1px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &_s {
                    font-size: 13px;
                    padding: 0;

                    & span {
                        text-align: center;
                    }
                }
            }
        }

        &__favorite {
            margin-right: 10px;
            margin-left: auto;

            &-name {
                font-size: 0;
            }

            & svg {
                margin: 0;
            }
        }

        &__share {
            &-name {
                font-size: 0;
            }

            & svg {
                margin: 0;
            }
        }
    }

    .template {
        &__desc {
            display: none;
        }
    }

    .quick-order {
        position: relative;
        text-decoration: none;

        &__popup {
            right: auto;
            left: 0;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $primary-color;
            transform: scale3d(1, 1, 1);
            transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        &:hover {
            &::after {
                transform: scale3d(0, 1, 1);
            }
        }

        &__btn {
            & svg {
                display: none;
            }
        }
    }

    .product-price {
        &__value {
            @include flex(column-reverse, flex-start, flex-start);

            & span {
                margin: 0;
            }
        }

        &__lower {
            margin: 0;
            margin-left: auto;

            &-btn {
                font-size: 12px;
            }
        }
    }

    .product-size {
        overflow: visible;

        &__slide {
            width: auto;
        }
    }

    .order-options {
        @include flex(row, center, flex-start);
    }

    .tabs {
        &__btn {
            display: block;
            width: 100%;
            text-align: left;
            margin: 0;
            border-top: 1px solid $gray-color-lightest;
            padding: 15px 0;

            &::after {
                content: none;
            }

            &::before {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                background: icon('icon-arrow.svg') no-repeat 50%;
                top: 50%;
                margin-top: -6px;
                right: 0;
            }

            &.js-tab-btn_active {
                @include font-weight('normal');

                &::before {
                    transform: scale3d(1, -1, 1);
                }
            }
        }

        &__section {
            &.js-tab-section_active {
                padding-bottom: 30px;
            }
        }

        &__grid {
            display: none;
        }
    }

    .show-more {
        &-text {
            max-height: 180px;
            overflow: hidden;

            &_opened {
                overflow: visible;
                max-height: none;
            }
        }
    }

    .product-desc {
        margin-top: 30px;

        &__item {
            align-items: flex-start;
        }
    }

    .testimonial-item {
        @include flex(column, flex-start, flex-start);
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 30px;
        }

        &__info {
            @include flex(row, center, flex-start);
        }

        &__date {
            margin: 0;
            margin-left: 10px;
            padding-top: 4px;
        }

        &__content {
            padding: 0;
            border: none;
            margin-top: 10px;
        }
    }

    .testimonials {
        &__grid {
            margin: 0;
        }

        &__link {
            width: 100%;
            text-align: center;
        }

        &__add-btn {
            margin: 0;
            width: 100%;
            margin-top: 15px;
        }
    }

    .order {
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 30px;

        &__footer {
            padding: 15px 0;
            border-bottom: 1px solid $gray-color-lightest;
        }

        &__item {
            @include flex(column, flex-start, flex-start);
            position: relative;
            border-bottom: 1px solid $gray-color-lightest;
            padding-left: 115px;
            padding-bottom: 30px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;

                & img {
                    max-width: 100px;
                    max-height: 100px;
                }
            }

            &-name {
                padding-right: 30px;
                font-size: 14px;
                width: auto;

                & b {
                    display: block;
                }
            }

            &-options {
                margin: 0;
                width: 100%;
                justify-content: flex-start;
                margin-top: 10px;
            }

            &-option {
                margin: 0;

                &.to-remove {
                    margin-left: auto;
                    position: relative;
                    right: -10px;
                }

                &.to-favorite {
                    position: absolute;
                    margin: 0;
                    top: -6px;
                    right: -10px;
                }
            }

            &-price {
                margin: 0;
                flex-basis: auto;
                margin-top: 20px;
                width: 100%;
                justify-content: flex-start;

                &-sale {
                    text-align: left;
                }
            }
        }
    }

    .basket-template {
        padding-bottom: 60px;

        &__grid {
            padding-right: 0;
        }

        &__delivery {
            margin-top: 30px;
        }

        &__form {
            &-btn {
                margin-top: 10px;
            }

            &-add-comment {
                margin: 0;
            }
        }
    }

    .delivery-choice {
        @include flex(column, stretch, flex-start);

        & .js-tab-section {
            &:nth-child(2n+4) {
                display: none;
            }

            &:nth-child(2) {
                border: 1px solid $gray-color-lighter;
                padding: 15px;
                border-top: none;
                border-bottom: none;

                & p {
                    margin: 0;
                    margin-bottom: 15px;
                    color: $dark-color;
                    font-size: 13px;

                    & b {
                        @include font-weight('medium');
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                & ul,
                ol {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    & li {
                        font-size: 12px;
                        color: $dark-color;
                        position: relative;
                        line-height: 1.4;
                        padding-left: 12px;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 1px;
                            background: $dark-color;
                            top: 7px;
                            left: 0;
                        }

                        & a {
                            position: relative;
                            text-decoration: none;
                            color: $dark-color;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background: $dark-color;
                                transform: scale3d(1, 1, 1);
                                transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
                            }

                            &:hover {
                                &::after {
                                    transform: scale3d(0, 1, 1);
                                }
                            }
                        }
                    }
                }
            }
        }

        &__item {
            width: 100%;
            box-shadow: none;
            border: 1px solid $gray-color-lighter;
            margin-bottom: -1px;

            &.js-tab-btn_active {
                border-width: 2px;
            }

            &-name {
                position: relative;
            }

            &-input {
                &:checked+.delivery-choice__item-name {
                    box-shadow: none;
                }
            }

            &:nth-child(1) {
                & .delivery-choice__item-name {
                    box-shadow: none;
                }

                &.js-tab-btn_active {
                    border-bottom: none;

                    &+div {
                        border-width: 2px;
                        border-bottom: 1px solid $gray-color-lighter;
                    }
                }

                & .delivery-choice__item-input {
                    &:checked {
                        &+.delivery-choice {
                            &__item {
                                &-name {
                                    box-shadow: none;

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        width: calc(100% - 30px);
                                        left: 50%;
                                        transform: translate3d(-50%, 0, 0);
                                        bottom: 0;
                                        height: 1px;
                                        background: $gray-color-lighter;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .form {
        &__wrapper {
            @include flex(column, stretch, flex-start);
        }

        &__col {
            margin: 0;
            width: 100%;
        }

        &__input {
            line-height: 1.5;
        }
    }

    .faq-template {
        &__breadcrumbs {
            display: none;
        }

        &__form {
            padding: 20px 15px;
            margin-top: 50px;

            &::after {
                content: none;
            }
        }
    }

    .faq-item {
        margin-bottom: 30px;

        &__content {
            padding-left: 15px;
        }
    }

    .filter-template {
        &__breadcrumbs {
            display: none;
        }

        &__form {
            padding: 30px 20px;

            &-submit {
                margin-top: 20px;
                width: 100%;
            }

            &-btn {
                width: 100%;
            }
        }
    }

    .filter-form {
        &__col {
            margin-bottom: 30px;
        }

        &__wrapper {
            display: none;

            &_opened {
                display: block;
            }
        }

        &__title {
            cursor: pointer;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                background: icon('icon-arrow.svg') no-repeat 50%;
                top: 50%;
                margin-top: -6px;
                right: 0;
            }

            &_active {
                &::after {
                    transform: scale3d(1, -1, 1);
                }
            }
        }
    }

    .success-template {
        &__text {
            padding: 30px 20px;
            margin-top: 50px;

            &::after {
                content: none;
            }
        }
    }

    .call-back {
        right: auto;
        left: 0;
    }

    .m-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 20;
        transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
        &.nav-up{
            transform: translate3d(0,-56px,0);
        }
        &.nav-down{
            transform: none;
        }
    }

    .no-page-template {
        &__text {
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }

    .empty-template {
        &__icon {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        &__text {
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }

    .m-carousel {
        &__item {
            &:hover {
                z-index: 1;
            }

            & .item {
                &:hover {
                    box-shadow: 0 0 0 1px #E4EAED;
                }
            }
        }
    }

    .m-home-menu {
        border-top: 1px solid $gray-color-lightest;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 300px;
            height: 1px;
            background: $gray-color-lightest;
            bottom: 100%;
            right: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            width: 300px;
            height: 1px;
            background: $gray-color-lightest;
            bottom: 100%;
            left: 100%;
        }
    }

    .brands{
        &__grid{
            padding: 0;
            padding-top: 5px;
            align-items: flex-start;
        }
        &__title{
            display: none;
        }
        &__letters{
            flex: 1 1 auto;
            padding: 0;
            padding-right: 15px;
            flex-wrap: wrap;
            &::after{
                content: none;
            }
            &-list{
                display: none;
                order: 4;
                width: 100%;
                &_opened{
                    display: block;
                }
                & .letter{
                    font-size: 12px;
                }
            }
        }
        &__link{
            flex-shrink: 0;
            margin-top: 8px;
        }
    }

    .letter{
        &_s{
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 767px) {
    .brands{
        &__letter{
            &-list{
                &-wrapper{
                    flex-wrap: wrap;
                    padding: 30px 15px;
                    padding-bottom: 15px;
                }
                &-col{
                    width: 50%;
                }
                &-link{
                    padding: 0 5px;
                    &:last-child{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .footer {
        &-menu {
            &__link {
                font-size: 12px;
            }
        }
    }

    .btn {
        font-size: 14px;
    }

    .title {
        font-size: 18px;
        @include font-weight('normal');
    }

    .section {
        &__title {
            font-size: 24px;
            margin-bottom: 15px;
        }
    }

    .home-template {
        &__popular {
            margin-bottom: 30px;
        }
    }

    .popular {
        &-item {
            width: 50%;
            height: 55px;

            & svg {
                max-width: 110px;
                max-height: 30px;
            }
        }

        &__btn {
            width: 100%;

            & svg {
                max-width: 12px;
                max-height: 12px;
            }
        }
    }

    .popup {
        width: 100%;
        min-width: 270px;
    }

    .item {
        &__img {
            & img {
                max-width: 135px;
                max-height: 135px;
            }
        }
    }

    .about-brand {
        &__logo {
            height: 110px;
        }

        &__desc {
            & p {
                font-size: 13px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .template {
        padding-bottom: 30px;
    }

    .product-template {
        padding-bottom: 60px;
    }

    .pagination {
        &__link {
            flex-shrink: 0;
            width: 35px;
            height: 35px;
        }

        &__btn {
            font-size: 13px;
            padding: 0 5px;
            margin-left: 10px;

            & svg {
                display: none;
            }
        }
    }

    .catalog-template {
        .item {
            &__price {
                @include flex(column, center, flex-start);

                &-text_old {
                    font-size: 12px;
                    padding: 0;
                    margin: 0;

                    &::after {
                        content: none;
                    }
                }
            }
        }
    }

    .product-gallery {
        &__full {
            &-img {
                display: block;
                margin: 0 auto;
                max-width: 180px;
                max-height: 180px;
            }
        }
    }

    .product-price {
        &__value {
            font-size: 24px;
        }
    }

    .product-template {
        &__bottom {
            margin-top: 30px;
        }

        &__similar {
            margin-bottom: 30px;
        }

        &__submit {
            &-btn {
                &_s {
                    font-size: 13px;
                }
            }
        }
    }

    .tabs {
        &__text {

            &>h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 13px;
            }
        }
    }

    .testimonials {
        &__title {
            font-size: 18px;
        }

        &__form {
            padding: 20px 0;

            &-title {
                @include font-weight('light');
            }

            &-bottom {
                flex-wrap: wrap;
            }

            &-btn {
                width: 100%;
                margin-top: 15px;
            }
        }
    }

    .similar {
        &__title {
            font-size: 18px;
            max-width: 210px;
        }
    }

    .order {
        &__footer {
            &-text {
                font-size: 14px;
            }
        }

        &__item {
            &-name {
                font-size: 11px;
            }
        }
    }

    .basket-template {
        padding-bottom: 60px;

        &__title {
            margin-bottom: 20px;
        }
    }

    .form {
        &__label {
            &_size {
                &-l {
                    font-size: 14px;
                }
            }
        }
    }

    .filter-form {
        &__title {
            margin-bottom: 10px;
        }
    }

    .no-page-template {
        padding: 50px 0;
        padding-top: 30px;

        &__title {
            & span {
                font-size: 70px;
            }
        }

        &__text {
            font-size: 14px;
        }
    }

    .empty-template {
        padding: 50px 0;
        padding-top: 30px;

        &__title {
            font-size: 17px;
        }
    }

    .success-template {
        padding: 50px 0;
        padding-top: 30px;

        &__content {
            & p {
                font-size: 16px;
            }
        }

        &__social {
            padding-top: 15px;
            justify-content: center;
            flex-wrap: wrap;

            &-name {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                font-size: 14px;
            }

            &-item {
                margin: 0;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .brands{
        &__letter{
            &-list{
                &-wrapper{
                    padding: 30px 10px;
                    padding-bottom: 15px;
                }
                &-link{
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .faq-template {
        &__header {
            @include flex(column, flex-start, flex-start);

            &-btn {
                position: relative;
                top: auto;
                margin-top: 5px;
                left: auto;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .menu {
        &__link {
            font-size: 14px;
            padding: 0 15px;

            &:last-child {
                padding-right: 0;
            }

            &_s {
                margin-right: 0;
            }
        }
    }

    .brands {
        &__grid {
            padding: 10px 0;
        }

        &__title {
            display: none;
        }

        &__link {
            display: none;
        }

        &__letters {
            padding-right: 0;

            &::after {
                content: none;
            }
        }
    }

    .title {
        font-size: 20px;
    }

    .top-menu {
        &__link {
            font-size: 11px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .user-option {
        &__name {
            font-size: 11px;
        }
    }

    .header {
        &__phones {
            &-item {
                font-size: 14px;
            }
        }

        &__w-time {
            &-value {
                font-size: 11px;
            }

            &-btn {
                font-size: 14px;
            }
        }
    }

    .item {
        &__price {
            &-text_old {
                font-size: 12px;
                padding-right: 5px;
                margin-right: 5px;
                padding-top: 2px;
            }
        }
    }

    .product-options {
        &__item {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .product-template {
        &__note {
            & img {
                display: none;
            }

            &-link {
                padding-right: 15px;
            }

            &-country {
                padding-left: 15px;
            }
        }
    }

    .product-gallery {
        &__thumb {
            &-img {
                max-width: 50px;
                max-height: 50px;
            }
        }
    }

    .form {
        &__wrapper {
            @include flex(column, stretch, flex-start);
        }

        &__col {
            margin: 0;
            width: 100%;
        }
    }

    .basket-template {
        &__form {
            &-btn {
                margin-top: 15px;
            }
        }
    }

    .order {
        &__item {
            @include flex(column, flex-start, flex-start);
            position: relative;
            border-bottom: 1px solid $gray-color-lightest;
            padding-left: 115px;
            padding-bottom: 30px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;

                & img {
                    max-width: 100px;
                    max-height: 100px;
                }
            }

            &-name {
                padding-right: 30px;
                font-size: 14px;
                width: auto;

                & b {
                    display: block;
                }
            }

            &-options {
                margin: 0;
                width: 100%;
                justify-content: flex-start;
                margin-top: 10px;
            }

            &-option {
                margin: 0;

                &.to-remove {
                    margin-left: auto;
                    position: relative;
                    right: -10px;
                }

                &.to-favorite {
                    position: absolute;
                    margin: 0;
                    top: -6px;
                    right: -10px;
                }
            }

            &-price {
                margin: 0;
                flex-basis: auto;
                margin-top: 20px;
                width: 100%;
                justify-content: flex-start;

                &-sale {
                    text-align: left;
                }
            }
        }
    }
}