.filter{
    @include flex( row, stretch, flex-start );
    &_active{
        position: relative;
        z-index: 2;
    }
    &-item{
        margin-right: -1px;
        position: relative;
        &_visible{
            &-mobile{
                display: none;
            }
        }
        &:last-child{
            margin-right: 0;
        }
        &__header{
            @include flex( row, stretch, center );
            border: 1px solid $gray-color-lightest;
            height: 40px;
            cursor: pointer;
            &_opened{
                & .filter-item__arrow{
                    transform: rotate3d(0, 0, -1, 180deg);
                }
            }
            &-wrapper{
                @include flex( row, center, center );
                &_active{
                    & svg{
                        transform: scale3d(1,-1,1);
                    }
                }
            }
            &_chosen{
                // border-color: darken( $gray-color-lightest, 15% );
                & .filter-item{
                    &__reset-btn{
                        @include flex( row, center, center );
                    }
                }
            }
        }
        &__arrow{
            margin-right: 15px;
            transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &__name{
            margin: 0;
            font-size: 13px;
            padding: 0 15px;
            padding-right: 7px;  
        }
        &__reset-btn{
            display: none;
            width: 40px;
            height: 100%;
            margin-left: auto;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: calc( 100% - 10px );
                top: 5px;
                left: 0;
                background: $gray-color-lightest;
            }
        }
        &__list{
            @include flex( column, flex-start, flex-start );
            padding: 25px 15px;
        }
        &__wrapper{
            position: absolute;
            top: 100%;
            left: 0;
            transform: translate3d(0, 25px, 0);
            transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1), opacity .55s cubic-bezier(0.215, 0.610, 0.355, 1);
            opacity: 0;
            z-index: -1;
            background: $white-color;
            width: 185px;
            border: 1px solid $gray-color-lightest;
            max-height: 365px;
            visibility: hidden;
            &-btn{
                display: none;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 70px;
                background: linear-gradient(to top, $white-color, rgba( $white-color, .4 ));
                & svg{
                    position: relative;
                    top: 10px;
                    transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
                }
                &:hover{
                    & svg{
                        transform: translateY(5px);
                    }
                }
            }
            &_scrolled{
                // overflow: hidden;
                // max-height: 365px;
                & .filter-item__wrapper-btn{
                    @include flex( row, center, center );
                }
            }
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 7px solid transparent;
                border-bottom-color: $gray-color-lightest;
                bottom: 100%;
                left: 30px;
            }
    
            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-bottom-color: $white-color;
                bottom: calc( 100% - .5px );
                left: calc( 30px + 1px );
                z-index: 1;
            }
            &_opened{
                transform: translate3d(0, 15px, 0);
                opacity: 1;
                z-index: 3;
                visibility: visible;
            }
        }
        &__checkbox{
            margin-bottom: 15px;
            flex-shrink: 0;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}