.menu{
    position: relative;
    &__wrapper{
        @include flex(row, center, flex-start);
    }
    &__link{
        @include flex(row, center, flex-start);
        padding: 0 20px;
        height: 50px;
        color: $primary-color-lighter;
        text-decoration: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 20px;
            background: rgba($white-color, .2);
            left: 100%;
            top: 50%;
            margin-top: -10px;
        }
        &:hover{
            color: $white-color;
        }
        &:focus{
            color: $white-color;
        }
        & svg{
            margin-left: 10px;
        }
        &_s{
            padding: 15px;
            font-size: 20px;
            margin-right: 20px;
            background: $primary-color;
            color: $white-color;
            &::after{
                content: none;
            }
            & svg{
                margin-left: 0;
                margin-right: 10px;
                position: relative;
                transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
            &-active{
                & svg{
                    transform: rotate3d(0, 0, 1, 90deg);
                }
            }
        }
        &:last-child{
            &::after{
                content: none;
            }
        }
    }
}