.in-stock{
    position: absolute;
    font-size: 9px;
    padding-left: 12px;
    color: $gray-color;
    top: calc( 100% + 3px );
    left: 0;
    &::after{
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background: icon('icon-in-stock.svg') no-repeat 50%;
        left: 0;
        top: 50%;
        margin-top: -5px;
    }
}