.testimonial-item{
    @include flex( row, flex-start, flex-start );
    &__info{
        @include flex( column, flex-start, flex-start );
        flex-shrink: 0;
        padding-right: 20px;
    }
    &__date{
        margin: 0;
        font-size: 11px;
        color: $dark-color;
        margin-top: 10px;
    }
    &__content{
        padding-left: 20px;
        border-left: 1px solid $gray-color-lightest;
    }
    &__name{
        margin: 0;
        @include flex( row, center, flex-start );
        font-size: 15px;
        color: $dark-color;
        & a{
            margin-left: 5px;
            font-size: 15px;
            color: $dark-color;
            &::after{
                background: $dark-color;
            }
        }
    }
    &__text{
        margin-top: 10px;
        & p{
            margin: 0;
            font-size: 13px;
            line-height: 1.42;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}