.newsletter{
    &__title{
        margin: 0;
        font-size: 15px;
        color: $gray-color;
        margin-bottom: 5px;
    }
    &__form{
        @include flex(row, stretch, flex-start);
    }
    &__btn{
        flex-shrink: 0;
    }
    &__container{
        flex: 1 1 auto;
    }
    &__input{
        background: $white-color;
        width: 100%;
        height: 100%;
    }
    &__btn{
        &:hover{
            background: darken($primary-color, 5%);
        }
    }
}