.checkbox{
    cursor: pointer;
    @include flex( row, flex-start, flex-start );
    flex-wrap: wrap;
    position: relative;
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        &:checked{
            & + .checkbox__name{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    &__name{
        margin: 0;
        font-size: 13px;
        padding-left: 25px;
        position: relative;
        word-break: break-all;
        &::before{
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            border: 1px solid $gray-color-lighter;
            left: 0;
            top: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            left: 3px;
            top: 3px;
            background: $primary-color;
            opacity: 0;
        }
    }
}