.m-home-menu{
    @include flex( column, stretch, flex-start );
    background: $white-color;
    &__link{
        @include flex( row, center, flex-start );
        height: 45px;
        font-size: 15px;
        text-decoration: none;
        border-bottom: 1px solid $gray-color-lightest;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 300px;
            height: 1px;
            background: $gray-color-lightest;
            top: 100%;
            right: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            width: 300px;
            height: 1px;
            background: $gray-color-lightest;
            top: 100%;
            left: 100%;
        }
    }
}