.item{
    @include flex( column, stretch, flex-start );
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: 0 0 0 1px $gray-color-lightest;
    background: $white-color;
    will-change: transform;
    &__img{
        margin-bottom: 15px;
        display: block;
        & img{
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 135px;
            max-height: 135px;
        }
        &_size{
            &-big{
                & img{
                    max-width: 300px;
                    max-height: 300px;
                }
            }
        }
    }
    &__brand{
        text-decoration: none;
        font-size: 10px;
        text-transform: uppercase;
        color: $gray-color;
        margin-bottom: 5px;
        margin-top: auto;
    }
    &__name{
        margin: 0;
        font-size: 15px;
        text-decoration: none;
        color: $dark-color;
        position: relative;
        width: 100%;
        text-align: center;
        &_cutted{
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: "";
            &::after{
                content: '';
                position: absolute;
                width: 60px;
                height: 100%;
                background: linear-gradient(270deg, $white-color 23.57%, rgba($white-color, 0) 71.11%);
                top: 0;
                right: 0;
            }
        }
    }
    &__stars{
        margin-top: 10px;
    }
    &__price{
        @include flex(row, center, center);
        margin-top: 10px;
        &-text{
            margin: 0;
            font-size: 14px;
            @include font-weight('medium');
            &_old{
                @include font-weight('normal');
                color: $gray-color-darker;
                text-decoration: line-through;
                padding-left: 0;
                padding-right: 10px;
                margin-right: 10px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    background: $gray-color-lightest;
                    right: 0;
                    top: 50%;
                    margin-top: -5px;
                }
            }
        }
    }
    &__favorite{
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &_size-big{
        padding: 60px 45px;
        padding-bottom: 20px;
    }
    &:hover{
        box-shadow: 0 0 15px 0 rgba($black-color, .1);
    }
}

.no-touchevents.no-pointerevents{
    & .item{
        &:hover{
            // box-shadow: 0 0 15px 0 rgba($black-color, .1);
        }
        &__brand{
            &:hover{
                color: $primary-color;
            }
        }
        &__name{
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.touchevents.pointerevents{
    & .item{
        &:hover{
            // box-shadow: 0 0 15px 0 rgba($black-color, .1);
        }
        &__brand{
            &:hover{
                color: $primary-color;
            }
        }
        &__name{
            &:hover{
                color: $primary-color;
            }
        }
    }
}