// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Font
$font: 'Montserrat';
$title-font: '';
$base-font-size: 16px;
//Url
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #34323A;
$light-color: #F3F2F5;
$dark-color: #65737A;
$dark-color-lightest: #F9FAFA;
$primary-color: #EC1468;
$primary-color-lighter: #F6D4E3;
$primary-color-darker: #B82769;
$gray-color: #9CA9B0;
$gray-color-darker: #73838C;
$gray-color-lighter: #C3CFD5;
$gray-color-lightest: #E4EAED;
//Font weight
$font-weight: (
    'thin': 100,
    'light': 300,
    'normal': normal,
    'medium': 500,
    'bold': bold
);
