.filter-checkbox{
    position: relative;
    display: inline-block;
    cursor: pointer;
    &__name{
        margin: 0;
        font-size: 13px;
        padding: 5px 0;
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid $gray-color;
            top: 3px;
            left: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 8px;
            left: 5px;
            background: $primary-color;
            opacity: 0;
        }
    }
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + .filter-checkbox{
            &__name{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}