.show-more{
    @include flex( row, center, flex-start );
    &_active{
        & svg{
            transform: scale3d(1, -1, 1);
        }
    }
    & svg{
        margin-left: 5px;
    }
    &__text{
        font-size: 13px;
        color: $primary-color;
        &::after{
            background: $primary-color;
        }
    }
}