.footer{
    background: $black-color;
    &__top{
        padding: 30px 0;
        border-bottom: 1px solid rgba($white-color, .1);
    }
    &__bottom{
        padding: 50px 0;
    }
    &-menu{
        &__link{
            text-decoration: none;
            color: $gray-color-lighter;
            font-size: 14px;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                color: $primary-color;
            }
        }
        &__col{
            @include flex(column, flex-start, flex-start);
        }
    }
    &__phones{
        @include flex(column, flex-start, flex-start);
        &-item{
            margin-bottom: 10px;
            text-decoration: none;
            @include flex(row, center, flex-start);
            font-size: 15px;
            padding-left: 3px;
            color: $white-color;
            @include font-weight('medium');
            white-space: nowrap;
            & svg{
                margin-right: 10px;
                position: relative;
                top: -1px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &:first-child{
                padding-left: 0;
                & svg{
                    margin-right: 8px;
                }
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
    &__address{
        margin: 0;
        color: $white-color;
        font-size: 14px;
        & a{
            color: $white-color;
            margin: 10px 0;
            margin-top: 8px;
            &::after{
                background: $white-color;
            }
        }
        & b{
            font-size: 15px;
            @include font-weight('medium');
        }
    }
    &__copyright{
        @include flex( row, center, flex-start );
        margin: 0;
        margin-top: 25px;
        font-size: 12px;
        color: $gray-color-darker;
        & p{
            margin: 0;
            font-size: 12px;
            color: $gray-color-darker;
            margin-left: 10px;
            padding-left: 10px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background: $gray-color-darker;
                top: -1px;
                left: 0;
            }
        }
        & a{
            font-size: 12px;
            color: $gray-color-darker;
            &::after{
                background: $gray-color-darker;
            }
        }
    }
    &__text{
        margin: 0;
        font-size: 10px;
        color: $gray-color-darker;
        line-height: 1.42;
        margin-top: 5px;
    }
}