.inner-carousel{
    padding-left: 1px;
    overflow: visible;
    &__item{
        padding: 1px 0;
        max-width: 70%;
    }
    &-navigation{
        position: absolute;
        top: -2px;
        right: 0;
        @include flex( row, center, flex-end );
        &__btn{
            width: 25px;
            height: 25px;
            @include flex( row, center, center );
        }
    }
}