.popup {
    opacity: 0;
    padding: 20px;
    width: 310px;
    z-index: -1;
    background: $white-color;
    box-shadow: 0 2px 7px 0 rgba($dark-color, 0.15);
    border: 1px solid $gray-color-lightest;
    transform: translate3d(0, 10px, 0);
    transition: opacity .55s cubic-bezier(0.215, 0.610, 0.355, 1), transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
    &_opened {
        opacity: 1;
        z-index: 6;
        transform: translate3d(0, 0, 0);
    }
    &__title{
        margin: 0;
        font-size: 18px;
        @include font-weight( 'medium' );
        line-height: 1.25;
        margin-bottom: 10px;
    }
    &__text{
        margin: 0;
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__close-btn{
        position: absolute;
        width: 25px;
        height: 25px;
        @include flex( row, center, center );
        right: 10px;
        top: 10px;
    }
    &__form{
        &-btn{
            border-radius: 2px;
            font-size: 13px;
            padding: 0 30px;
            margin-top: 5px;
        }
        &-input{
            line-height: 1.5;
        }
    }
    &__note{
        margin: 0;
        font-size: 11px;
        margin-top: 15px;
        color: $gray-color-darker;
        line-height: 1.35p;
    }
}