.search{
    &__form{
        @include flex(row, stretch, flex-start);
        border: 1px solid $gray-color-lighter;
        height: 50px;
    }
    &__input{
        width: 100%;
        line-height: 1.5;
    }
    &__btn{
        @include flex(row, center, center);
        flex-shrink: 0;
        height: 100%;
        width: 50px;
        border-left: 1px solid $gray-color-lighter;
        margin-left: auto;
        background: linear-gradient(180deg, $white-color 0%, $light-color 100%);
    }
}