.sidebar{
    &__note{
        margin-top: 30px;
        @include flex( row, center, flex-start );
        &-item{
            @include flex( row, center, flex-start );
            width: 50%;
            flex: 1 1 auto;
            margin: 0;
            font-size: 8px;
            text-transform: uppercase;
            @include font-weight( 'medium' );
            text-align: left;
            line-height: 1.3;
            & svg{
                margin-right: 10px;
            }
        }
    }
    &__testimonial{
        &-title{
            margin: 0;
            font-size: 15px;
            line-height: 1.25;
            margin-bottom: 10px;
        }
        &-wrapper{
            padding: 20px;
            border: 1px solid $gray-color-lightest;
        }
        &-text{
            & p{
                margin: 0;
                font-size: 13px;
                color: $dark-color;
                line-height: 1.35;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &-note{
            margin: 0;
            font-size: 11px;
            margin-top: 15px;
            color: $gray-color;
        }
    }
}