.m-carousel{
    padding-left: 1px;
    overflow: visible;
    &-navigation{
        @include flex( row, center, flex-start );
        position: absolute;
        top: 0;
        right: 0;
        &__btn{
            @include flex( row, center, center );
            width: 25px;
            height: 25px;
        }
    }
}