.sort{
    @include flex( row, stretch, flex-start );
    &__item{
        @include flex( row, center, center );
        height: 40px;
        padding: 0 15px;
        text-decoration: none;
        font-size: 13px;
        border: 1px solid $gray-color-lightest;
        margin-right: -1px;
        z-index: 1;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background: $gray-color-lightest;
            z-index: 2;
        }
        &_active{
            background: $gray-color-lightest;
            z-index: 2;
        }
    }
}