.label{
    @include flex( row, center, center );
    position: absolute;
    top: -1px;
    left: -1px;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 8px;
    text-transform: uppercase;
    @include font-weight( 'medium' );
    color: $white-color;
    margin: 0;
    padding-top: 2px;
    &.sale-label{
        background: $primary-color;
    }
    &.new-label{
        background: $gray-color-lightest;
        color: $gray-color;
    }
}