.faq-item{
    @include flex( column, stretch, flex-start );
    margin-bottom: 40px;
    &:last-child{
        margin-bottom: 0;
    }
    &__author-name{
        margin: 0;
        font-size: 12px;
        color: $gray-color-darker;
        line-height: 1.4;
        margin-bottom: 10px;
    }
    &__title{
        margin: 0;
        font-size: 15px;
        line-height: 1.25;
    }
    &__content{
        margin-top: 20px;
        padding-left: 30px;
        border-left: 2px solid $primary-color;
        & p{
            margin: 0;
            margin-bottom: 10px;
            font-size: 13px;
            color: $dark-color;
            line-height: 1.35;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}