.b-item{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1px $gray-color-lightest;
    padding: 15px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 50% 1px;
    background-size: auto 100%;
    background-color: $white-color;
    &__name{
        margin: 0;
        text-decoration: none;
        font-size: 10px;
        text-transform: uppercase;
        color: $gray-color;
        margin-bottom: 5px;
    }
    &__title{
        margin: 0;
        font-size: 15px;
        text-decoration: none;
        color: $dark-color;
    }
}

.no-touchevents{
    & .b-item{
        &:hover{
            box-shadow: 0 0 15px 0 rgba($black-color, .1);
        }
    }
}

.touchevents.pointerevents{
    & .b-item{
        &:hover{
            box-shadow: 0 0 15px 0 rgba($black-color, .1);
        }
    }
}