.social{
    &__name{
        margin: 0;
        font-size: 15px;
        color: $gray-color;
        margin-bottom: 10px;
    }
    &__grid{
        @include flex(row, center, flex-start);
    }
    &__link{
        @include flex(row, center, center);
        width: 30px;
        height: 30px;
        border: 1px solid rgba($white-color, .3);
        border-radius: 50%;
        margin-right: 15px;
        transition: transform .3s linear;
        &:last-child{
            margin-right: 0;
        }
        & svg{
            will-change: transform;
        }
        &:hover{
            transform: scale3d(1.05, 1.05, 1);
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
    }
}