.top-menu{
    @include flex(row, center, flex-start);
    &__link{
        font-size: 12px;
        color: $gray-color-darker;
        text-decoration: none;
        margin-right: 25px;
        &:hover{
            color: $primary-color;
        }
        &:focus{
            color: $primary-color;
        }
        &:last-child{
            margin-right: 0;
            margin-left: 25px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background: $gray-color-lightest;
                left: -25px;
                top: 50%;
                transform: translateY( -50% );
            }
        }
    }
}