.m-header{
    background: $white-color;
    border-bottom: 1px solid $gray-color-lightest;
    &__grid{
        @include flex( row, center, flex-start );
        height: 55px;
    }
    &__btn{
        @include flex( row, center, center );
        margin-left: 20px;
    }
    &__logo{
        width: 34px;
        height: 25px;
    }
    &__menu-btn{
        margin-left: auto;
        width: 20px;
        height: 16px;
        will-change: transform;
        transition: transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__phone-btn{
        width: 19px;
        height: 19px;
    }
    &__search-btn{
        width: 20px;
        height: 20px;
    }
    &__favorites{
        width: 21px;
        height: 18px;
        position: relative;
        &-count{
            display: none;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 7px;
            @include font-weight( 'bold' );
            color: $white-color;
            transform: translate3d(-50%, -45%, 0);
        }
        &_active{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
            & .m-header__favorites-count{
                display: block;     
            }
        }
    }
    &__basket{
        width: 22px;
        height: 20px;
        position: relative;
        &-count{
            @include flex( row, center, center );
            margin: 0;
            position: absolute;
            width: 12px;
            min-height: 12px;
            border-radius: 50%;
            background: $primary-color;
            color: $white-color;
            font-size: 7px;
            padding-top: 2px;
            @include font-weight( 'bold' );
            left: 50%;
            margin-left: -4px;
            top: -2px;
        }
    }
}