.tabs{
    &__header{
        border-bottom: 1px solid $gray-color-lightest;
    }
    &__btn{
        padding-bottom: 10px;
        font-size: 15px;
        line-height: 1.25;
        margin-right: 50px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: calc( 100% - 1px );
            background: $gray-color-lighter;
            left: 0;
            opacity: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &.js-tab-btn_active{
            @include font-weight( 'medium' );
            &::after{
                opacity: 1;
            }
        }
        &:hover{
            &::after{
                opacity: 1;
            }
        }
    }
    &__section{
        &-grid{
            margin-top: 20px;
        }
    }
    &__grid{
        padding-top: 30px;
    }
    &__text{
        & > p{
            margin: 0;
            font-size: 13px;
            color: $dark-color;
            line-height: 1.35;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        & > h2{
            font-size: 18px;
            margin: 0;
            margin-bottom: 15px;
            @include font-weight( 'normal' );
        }
        & > h3, h4, h5, h6{
            font-size: 16px;
            margin: 0;
            margin-bottom: 15px;
            @include font-weight( 'normal' );
        }
    }
}

.js-tab{
    &-section{
        display: none;
        &_active{
            display: block;
        }
    }
    &-btn{

    }
}