.full-brands {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    padding: 0 30px;
    padding-top: 10px;
    background: $white-color;
    box-shadow: 0 0 10px 0 rgba($black-color, .25);
    transform: translate3d(0, 20px, 0);
    transition: opacity .55s cubic-bezier(0.215, 0.610, 0.355, 1), transform .55s cubic-bezier(0.215, 0.610, 0.355, 1);

    &_opened {
        opacity: 1;
        transform: translate3d(0, 10px, 0);
        z-index: 5;
    }

    &__header {
        padding: 20px 0;
        @include flex(row, center, flex-start);
        border-bottom: 1px solid $gray-color-lightest;

        &-link {
            color: $primary-color;
            margin-left: 50px;

            &::after {
                opacity: 1;
                background: $primary-color;
            }
        }
    }

    &__title {
        margin: 0;
        @include font-weight('medium');
        line-height: 1.25;
    }

    &__link {
        font-size: 14px;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &::after{
            transform: scale3d(0, 1, 1);
        }
        &:hover{
            color: $dark-color;
            &::after{
                transform: scale3d(1, 1, 1);
                background: $dark-color;
            }
        }
    }
    &__close-btn{
        margin-left: auto;
    }
    &__wrapper{
        padding: 25px 0;
        @include flex( row, stretch, flex-start );
    }
    &__col{
        width: 25%;
        @include flex( column, flex-start, flex-start );
    }
}