.to-favorite{
    width: 25px;
    height: 25px;
    @include flex( row, center, center );
    z-index: 5;
    &_active{
        & svg{
            & path{
                fill: $primary-color;
            }
        }
    }
}